* {
    font-family: sans-serif; /* Change your font family */
}
.border{
    max-height: 800px;
    max-width: 800px;
    margin-left:280px;  
}
.form{
    display: flex;
    flex-direction: column;   
    cursor: pointer;
}
.form input{
    border-radius:5px;
    color:green;
}
.border button{
    margin-top:20px;
    border-radius:5px;
    max-width:200px;
}
.border button:hover{
    color:white;
    background-color: green;
}
.form h1{
    color:#009879;
}
.text-error{
    color: red;
}
.form input:hover{
    border:4px solid #1ccaa7;
    cursor: pointer;
}


